quirements

install--
    streamlit
    numpy
    matplotlib.pyplot
    import base64
    import json
    import os
    import re
    import time
    import uuid
    from io import BytesIO
    from pathlib import Path

    import pandas as pd
    from PIL import Image
    from streamlit_drawable_canvas import st_canvas
    from svgpathtools import parse_path